/* ContactSection.css */

#contact {
    text-align: center;
    padding: 60px 20px;
}

.contact-content {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(245, 245, 245, 0.9);
    padding: 60px;
    border-radius: 10px;
    
}

.contact-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.contact-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.contact-content form .form-group {
    margin-bottom: 15px;
}

.contact-content form label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

.contact-content form input,
.contact-content form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.contact-content form button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-content form button:hover {
    background-color: #218838;
}

